html, body {
    height: 100%;
}

.large-font{
    font-size:larger;
}

.form-rounded {
    border-radius: .7rem;
    color: rgb(41, 75, 6);
    background-size: cover;
    background-image: url("/Users/hasif/Desktop/Haris Intern task/Authentication/asset/images/background/contbackground.jpg");
    opacity: 1;
}

.authentication-form {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.authentication-body {
    background-image: url("/Users/hasif/Desktop/Haris Intern task/Authentication/asset/images/background/logbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.red-color {
    color: brown;
}

.logo-image {
    width: 80px;
    border-radius: 100%;
}

.avatar {
    width: 60%;
    border-radius: 100%;
    
}

.authentication-form {
    width: 360px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .authentication-form {
        width: 300px;
    }
}